.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}