.text-field{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.input-field{
    height: 56px;
}

.container{
    height: 56px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition:all 0.3s ease;
}

.container-enabled{
    border: 1px solid rgba(var(--outline),1);
}

.container-focus{
    border: 2px solid rgba(var(--primary),1);
}

.container-error{
    border: 2px solid rgba(var(--error),1);
}

.input{
    width: 100%;
    margin:0 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.5px;
    color: rgba(var(--on-surface),1);
    z-index: 3;
}

.icon{
    width: 18px;
    height: 18px;
}

.label{
    position: relative;
    top: -40px;
    z-index: 2;
    transition: top 0.2s ease, left 0.2s ease, font-size 0.2s ease, color  0.2s ease;
}

.label-focused{
    width: fit-content;
    padding: 0px 8px;
    position: relative;
    color: rgba(var(--primary),1);
    background-color: rgba(var(--surface-container-low),1);;
    top: -62px;
    /* left: -36px; */
    left: -8px;
    z-index: 2;
    transition: top 0.2s ease, left 0.2s ease, font-size 0.2s ease, color  0.2s ease;
}

.supporting-text{
    margin-left: 16px;
}

.enabled{
    color: rgba(var(--on-surface-variant),1);
}

.focus{
    color: rgba(var(--primary),1);
}

.error{
    color: rgba(var(--error),1);
}

.disabled{
    color: rgba(var(--on-surface),0.38);
    cursor: not-allowed;
}


.container-disabled{
    border: 1px solid rgba(var(--outline),0.12);
}


.label-disabled{
    width: fit-content;
    padding: 0px 8px;
    position: relative;
    color: rgba(var(--on-surface),0.38);
    background-color: rgba(var(--surface-container-low),1);;
    top: -64px;
    /* left: -36px; */
    left: -8px;
    z-index: 2;
}